@import "config";
@import "utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 section {
     height: 100vh;
 }

 nav {
     position: fixed;
     bottom: 0;
     right: 0;
     padding: 3rem;

 }
 
 .music {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 3rem;
 }

 .header-text {
     color: white;
 }

.name-style {
    font-family: polaris;
}
 .Typewriter {
     font-size: 2rem;
     font-family: exan;
 }
 .name,  .Typewriter__cursor{
     color: $main-color;
 }

 .tsparticles-canvas-el {
     background-color: black;
     height: 100vh !important;
 }

 #about {
     border-top: solid 5px $main-color;
 }
